#timelinecont{
  position: relative;
  bottom: 0px;
  height: 150px;
  width: 100%;
  margin: auto;
  background-color: #dddddd;
  overflow-y: hidden;
  font-family: 'Quicksand', sans-serif;
}
#timeline{
  height: 100%;
}
.event{
  border-left: 2px solid blue;
  padding-top: 0px;
  padding-right: 200px;
  height: 50%;
  cursor: pointer;
  white-space: nowrap;
}
.date{
  border-top: 2px solid #333333;
  height: 50%;
  cursor: pointer;
}
td{
  padding: 0px;
}
